$dark: #444;
$light: #fff;
$black: #333;

h1,h2,h3,h4,h5,h6,p {
    color: $dark;
}

h1 {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0;
}

.container {
    width: 100%;
}

button {
    @include btn-solid-color($black);
    &:hover {
        @include btn-outline-color($black);
        background-color: #fff;
    }
}

.settings {
    padding: 20px 0 40px;
    .return {
        padding: 10px 0 15px;
        span {
            font-size: 10px;
            font-weight: 600;
            padding-left: 5px;
        }
    }
    &__intro {
        h1 {
            font-size: 18px;
            font-weight: 700;
            padding: 0;
        }
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
        }
        .anticon {
            margin-left: 70px;
            &:hover {
                color: $primary;
            }
        }
        button {
            margin-left: 90px;
            margin-top: 10px;
        }
        a {
            color: $black!important;
            font-weight: 500;
            &:hover {
                font-weight: bold;
            }
        }
        .beta {
            padding-right: 40px;
        }
    }
    &__title {
        h1 {
            font-size: 12px;
            font-weight: 700;
            padding: 10px 0;
        }
    }
    &__item {
        padding: 5px 0;
        h3 {
            font-size: 12px;
            font-weight: 600;
        }
        .vc-chrome {
            margin: 20px 0 0;
            width: 210px;
        }
        button {
            font-size: 12px;
            margin: 5px 0 0;
        }
    }
    &__switch {
        display: inline-flex;
        padding: 0 0 10px;
        h3 {
            padding-right: 10px;
        }
    }
    &__modal {
        display: block;
        padding: 0;
        &-item {
            padding: 5px 0 10px;
            p {
                font-weight: 600;
                margin-bottom: 10px;
            }
            .vc-chrome {
                margin: 20px 0 0;
                width: 210px;
            }
            .ant-form-item {
                margin-bottom: 0;
            }
            h3 {
                font-size: 12px;
                font-weight: 600;
            }
            button {
                margin: 5px 0;
                font-size: 10px;
                font-weight: bold;
                @include btn-solid-color($black);
                &:hover {
                    @include btn-outline-color($black);
                    background-color: #fff;
                }
            }
        }
    }
    &__dashboard {
        padding: 20px 0;
        button {
            font-weight: bold;
            font-size: 14px;
            // background-color: $primary;
            // border-color: $primary;
            // color: #fff;
        }
    }
    .ant-divider {
        background: #ddd;
    }
    .ant-collapse {
        margin: 0 0 10px;
        font-size: 12px;
        font-weight: 500;
    }
    .ant-radio-wrapper {
        font-size: 12px;
        color: $dark;
        font-weight: 400;
    }
    .ant-select {
        font-size: 12px;
        color: $dark;
    }
    .ant-upload-select-picture-card i {
        font-size: 32px;
        color: #999;
    }
    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }
    .ant-divider-horizontal {
        margin: 15px 0;
    }
    .ant-switch {
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        padding-right: 2px;
        background-color: rgba(0, 0, 0, 0.25);
        border: 1px solid transparent;
    }
    .ant-switch-checked {
        background-color: $black!important;
    }
}