.section-title {
    padding: 40px 0;
    background-color: $grey;
    h3 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 0px;
    }
    .ant-breadcrumb {
        font-size: 12px;
    }
}