@import '../../assets/styles/variables.scss';


.home-slider__container {
margin-bottom: 50px;
}

.home-slider__title {
    margin-bottom: 100px;
}


@media #{$md-layout} {
    .home-slider__container {
        margin-bottom: 30px;
        }
}

@media #{$xs-layout} {
    .home-slider__container {
        margin-bottom: 20px;
        }
    .home-slider__title {
        margin-bottom: 0px;
    }
    .heading {
        font-size: 12px;
        line-height: 8px;
    }
    .paragraph {
        font-size: 8px;
    }
    .home-slider__button {
        font-size: 8px!important;
        margin-top: 0px!important;
        padding: 5px 10px 5px!important;
    }
}

.home-slider__button {
    background-color: white;
    border-color: transparent;
    color: $text;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 20px 10px;
    margin-top: 10px;
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 14px;
}