@import '../../assets/styles/variables.scss';


.navbar {
    background-color: #ffffff00!important;
    /* box-shadow: $box-shadow; */
    /* padding: $spacing-medium; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    $navbar-item-color: $grey;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: $primary-color!important;
    margin-top: -0.375em;
    right: 1.125em;
}

.navbar-start {
    padding-left: $spacing-xlarge;
    padding-right: $spacing-xlarge;
}

.icon {
    height: auto;
    width: 1.0rem;
    margin-left: 10px;
}