@import '../../assets/styles/variables';

p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0px;
}
h4 {
    font-size: 8px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 3px;
}

ion-icon.md.hydrated {
    margin-left: 5px;
}

.product-wrap-2 {
    position: relative;
    overflow: hidden;
    padding: 10px;
    .product-img {
        position: relative;
        img{
            width: 100%;
        }
        span{
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            top: 20px;
            right: 20px;
            &.pink{
                color: $primary-color;
            }
            &.purple{
                color: $theme-color;
            }
        }
        & .default-img {
            transition: all 0.5s ease-in-out;
        }
        & .hover-img {
            position: absolute;
            top: 0px;
            visibility: hidden;
            left: 0px;
            width: 100%;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            transform: translateX(100%);
        }
        .product-action-2 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            width: 100%;
            a{
                display: -webkit-inline-box;
                line-height: 1;
                width: 100px;
                height: 30px;
                line-height: 35px;
                font-size: 15px;
                background-color: #3C87D1;
                color: #fff;
                text-align: center;
                border-radius: 3px;
                margin: 0 3px;
                transition: all 0.4s ease-in-out;
                transform: scaleX(0);

                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }
    .product-content-2 {
        display: flex;
        justify-content: space-around;
        margin: 10px 0 0;
        padding-bottom: 10px;
        .title-price-wrap-2 {

            h3{
                margin: 0 0 2px;
                line-height: 1;
                a{
                    font-size: 14px;
                    color: $text;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            .price-2 {
                span{
                    font-size: 14px;
                    font-weight: 600;
                    color: $primary-color;
                    margin-right: 17px;
                    position: relative;
                    margin-bottom: 30px;

                    &.old{
                        color: $primary-color;
                        text-decoration: line-through;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        right: -13px;
                        top: 10px;
                        width: 6px;
                        height: 2px;
                        background-color: #a5a5a5;
                    }
                    &:last-child:before {
                        display: none;
                    }
                }
            }
        }
        .pro-wishlist-2 {
            a{
                font-size: 16px;
                color: #929292;
                margin: 4px 0 0 10px;
                display: inline-block;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
    &:hover .hover-img{
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    &:hover .default-img{
        transform: translateX(-100%);
        visibility: hidden;
    }
    &:hover .product-action-2 a {
        transform: scaleX(1);
    }
    &.pro-glaucous-color {
        .product-img {
            span.glaucous {
                color: #3d6882;
            }
            .product-action-2 {
                a {
                    background-color: #3d6882;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
        .product-content-2 {
            .pro-wishlist-2 a:hover {
                color: #3d6882;
            }
            .title-price-wrap-2 {
                h3 a:hover {
                    color: #3d6882;
                }
                .price-2 {
                    span.old {
                        color: #3d6882;
                    }
                }
            }
        }  
    }
}
