.section-title-alt {
    position: -webkit-sticky;
                position: sticky;
                z-index: 2;
                top: 50px;
                margin-top: 10px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-align: right;
                padding-top: 2px;
                padding-bottom: 2px;
}