@import '../../assets/styles/variables.scss';

.map-container {
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

.map__overlay {
    background-color: #9e9e9e7a;
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
}

.map-container__contact {
    width: 350px;
    height: 100px;
    background-color: $white;
    position: absolute;
    top: 0;
    margin-left: 550px;
    margin-top: 100px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.map__text-primary {
    color: $primary-color;
    font-weight: 600;
    font-size: 14px;
}

.map__text-header {
    font-size: 14px;
    color: $black;
    font-weight: 600;
}

.map__text-p {
    font-size: 14px;
}

.map__text {
    padding-top: 15px;
}