header {
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 1000;
    font-size: 14px;
    font-weight: 700;
    @include transition(background .25s cubic-bezier(0.25, 0.8, 0.25, 1),padding .25s cubic-bezier(0.25, 0.8, 0.25, 1));
    @include animation(slideInDown 420ms cubic-bezier(0.165, 0.84, 0.44, 1));
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
    }
    // img {
    //     max-width: 100px;
    // }
    .navbar {
        &__item {
            display: flex;
            img {
                margin-right: 5px;
            }
            h4 {
                font-size: 13px;
                margin: 0;
            }
            p {
                font-size: 12px;
            }
            button {
                display: flex;
                padding: 0 15px;
            }
        }
        &-cta {
            display: flex;
            float: right;
        }
        .search {
            float: right;
        }
        .logo {
            h1 {
                font-weight: 700;
                margin: 5px 0;
            }
        }
    }
    &.navTrans {
        position: absolute;
        top: 0%;
        left: auto;
        right: auto;
        bottom: 0%;
        background: transparent;
        width: 100%;
    }
    &.navFixed {
        position: fixed;
        top: 0%;
        left: auto;
        right: auto;
        bottom: auto;
        z-index: 100;
        width: 100%;
        @include transition(background .25s cubic-bezier(0.25, 0.8, 0.25, 1),padding .25s cubic-bezier(0.25, 0.8, 0.25, 1));
        @include animation(slideInDown 420ms cubic-bezier(0.165, 0.84, 0.44, 1));
        box-shadow: 0 0px 22px rgba(0,0,0,0.1);
    }

    // Nav Layout One
    .navbar__one {
        padding: 12px 0;
        &-nav {
            margin: 5px 0;
            a {
                display: inline-flex;
                margin-right: 20px;
                font-size: 14px;
                font-weight: bold;
                line-height: 0;
            }
        }
        &-search {
            margin: 5px 0;
        }
    }

    // Nav Layout Two
    .navbar__two {
        padding: 20px 0;
        img {
            display: block;
            margin: 0 auto;
        }
        &-nav {
            margin: 10px 0 0 0;
            a {
                display: inline-flex;
                margin-right: 20px;
                font-size: 14px;
                line-height: 0;
            }
        }
        &-secnav {
            display: inline-flex;
            img {
                margin-right: 10px;
            }
            p {
                margin: 12px 0 0 0;
            }
        }
        &-search {
            margin: 5px 0 0 0;
        }
    }

    // Nav Layout Three
    .navbar__three {
        padding: 20px 0;
        img {
            display: block;
            float: right;
        }
        &-nav {
            margin: 10px 0 0 0;

            a {
                display: inline-flex;
                margin-right: 20px;
                font-size: 14px;
                line-height: 0;
            }
        }
        &-secnav {
            display: inline-flex;
            img {
                margin-right: 10px;
            }

            p {
                margin: 12px 0 0 0;
            }
        }
        &-search {
            margin: 5px 0 0 0;
        }
    }

    // Mobile Nav
    .navbar__mobile {
        padding: 10px 0;
        &-nav {
            button {
                padding: 0 10px;
            }
        }
    }
}
.cpOpen {
    width: 82%;
}
.cpClosed {
    width: 95%
}
.col {
    padding-left: 5px!important;
    padding-right: 5px!important;
}