/* Global Imports */

// Variables

@import '../../assets/styles/variables.scss';

// Components

@import '../../components/NavBar/index';
@import '../../components/Footer/index';
@import '../../components/HomeFeatures/index';
@import '../../components/HomeProducts/index';
@import '../../components/HomeProductCategory/index';
@import '../../components/HomeSlider/index';
@import '../../components/NavBar/index';
@import '../../components/NavBarWithSlider/index';
@import '../../components/SectionTitle/index';
@import '../../components/HomeMap/index';

body {
    font-family: $primary-font!important;
}

.container {
    width: 100%!important;
    max-width: 1440px!important;
}

a {
    color: $black!important;
}