/* Color */

$primary-color: #3C87D1;
$accent-colour: #ff9d02;
$black: #222222;
$grey: #807F7F;
$white: #ffffff;
$approved: #01A830;
$failed: #ff5252;


/* Typography */

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

/* Spacing */

$spacing-xsmall: 5px;
$spacing-small: 10px;
$spacing-medium: 25px;
$spacing-large: 50px;
$spacing-xlarge: 100px;


/* Box Shadow */

$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

