@import '../../assets/styles/variables.scss';

.footer-container {
    padding: 20px 50px 20px 50px;
}

.footer-container__nav {
    -webkit-box-pack: start;
    -webkit-box-align: stretch;
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex;
    margin-left: -50px;
    padding: 5px 0 5px 0;
}

.footer__nav-item {
    font-size: 14px;
}

.footer__copyright {
    padding-top: 50px;
    font-size: 12px;
}

.footer__logos {
    height: auto;
    width: 100px;
    padding-right: 10px;
}

.footer-container__logos {
    padding-left: 50px;
}