.product__info {
    &-name {
        h1 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            padding: 20px 0 10px;
        }
        h2 {
            font-size: 30px;
            font-weight: 600;
            padding: 10px 0 5px;
        }
    }
    &-description {
        p {
            font-size: 16px;
        }
    }
    &-variant {
        padding: 5px 0;
    }
    &-quantity {
        padding: 5px 0;
    }
    &-cart {
        padding: 10px 0;
        button {
            height: 40px;
            font-size: 14px;
        }
    }
    h4 {
        font-size: 14px;
        font-weight: 600;
    }
}