@import '../../assets/styles/variables';

@media (min-width: 320px) and (max-width: 768px) {
    .cart {
        table {
            thead {
                tr {
                    th {
                        padding-right: 20px!important;
                        font-size: 10px;
                    }
                }
            }

            tbody {
                .product-name {
                    padding-right: 20px;
                    font-size: 12px;
                    
                }
                .product-quantity {
                    text-align: right;
                }
                .product-price {
                    font-size: 12px;

                }
                .product-subtotal {
                    padding: 0 20px 0 50px ;
                    font-size: 12px;
                }
            }
        }
    }

    th.h-total {
        text-align: right;
    }

  
}

@media (min-width: 960px) {
    .cart {

    }
}

.cart {
    margin: 50px 0;

    table {
        background: transparent;
        border: none;
        width: 100%;

        thead {
            border-bottom: 2px solid rgba(0,0,0,0.04);
            padding-bottom: 20px;

            tr {
                margin-bottom: 20px;
                
                th {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.2;
                    text-transform: uppercase;
                    padding: 0 0 20px;

                    .pull-right {
                        text-align: right;
                    }
                }
            }
        }

        tbody {
            .product-thumbnail {
                padding-top: 20px;
                width: 12px;
            }

            .product-name {
                font-weight: 500;
                text-align: left;
                padding-left: 20px;

                a{
                    color: $text;
                    font-weight: 500;
                }

                a:hover {
                    color: $text;
                    text-decoration: none;
                }
            }

            .product-price {
                max-width: 20px;
                padding-right: 20px;
            }
            .product-quantity {
                text-align: left;
                max-width: 20px;
            }
        }
    }
}

.number-input {
    max-width: 70%!important;
}
