footer {
    padding: 0 0 25px;
    .links {
        padding-left: 50px;
        a {
            padding-right: 20px;
            font-size: 12px;
            font-weight: 500;
            color: #262625;
        }
    }

}