.home-hero {
    background-image: url('https://res.cloudinary.com/mercurie/image/upload/v1564150668/mercuriemart/background-banking-blur-404159.jpg');
    background-color: #fff;
    width: 1500px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-hero__title {
    padding-top: 300px;
    color: #fff;
    font-size: 36px;
    padding-left: 50px;
    font-weight: 500;
}

.home-hero__button {
    padding-left: 50px;
}