@import '../../assets/styles/variables.scss';

.carousel-inner {
    max-height: 400px;
}

.home-slider__container {
    height: 400px;
    margin-bottom: 50px;
}

.home-slider__title {
    margin-bottom: 370px;
}

.home-slider__title-2 {
    margin-bottom: 630px;
}


.home-slider__button {
    background-color: white;
    border-color: transparent;
    color: $text;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 20px 10px;
    margin-top: 10px;
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 14px;
}