.grid-2.collection-products__grid {
    margin-bottom: 40px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.collection-products__section {
    margin-bottom: 40px;
}

.collection-products__left {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }