// Colors

$primary: #3C87D1;
$secondary: #285A8D;


$primary-colour: #3C87D1;
$secondary-colour: #222;
$accent-colour: #ff9d02;
$disabled: #cecece;
$approved: #01A830;
$failed: #ff5252;

$black: #232323;