// Colors

$primary: #3C87D1;
$secondary: #285A8D;
$accent: #fbb040;


$primary-colour: #3C87D1;
$secondary-colour: #222;
$accent-colour: #fbb040;
$disabled: #cecece;
$approved: #01A830;
$failed: #ff5252;

$black: #232323;
