// Theme Customizer Fonts

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Calistoga|Cormorant+Garamond:400,600,700|Lato:400,700|Montserrat:400,600,700|Nunito:400,600,700|Open+Sans|Playfair+Display|Poppins:400,600,700|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Bebas+Neue|Black+Ops+One|Courier+Prime:400,700|Fredericka+the+Great|Josefin+Sans:300,400,600,700|Lilita+One|Luckiest+Guy|Press+Start+2P|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Dancing+Script:400,500,600,700|Gelasio|Knewave|Limelight|Megrim|Raleway|Sacramento|Ubuntu&display=swap');

$fonts: (
    "Abril": ('Abril Fatface', cursive),
    "Bangers": ('Bangers', cursive),
    "Bebas": ('Bebas Neue', cursive),
    "Blackops": ('Black Ops One', cursive),
    "Calistoga": ('Calistoga', cursive),
    "Cinzel": ('Cinzel Decorative', cursive),
    "Cormorant": ('Cormorant Garamond', serif),
    "Courier": ('Courier Prime', monospace),
    "Dancing": ('Dancing Script', cursive),
    "Fredericka": ('Fredericka the Great', cursive),
    "Gelasio": ('Gelasio', serif),
    "Josefin": ('Josefin Sans', sans-serif),
    "Knewave": ('Knewave', cursive),
    "Lato": ('Lato', sans-serif),
    "Lilita": ('Lilita One', cursive),
    "Limelight": ('Limelight', cursive),
    "Luckiest": ('Luckiest Guy', cursive),
    "Megrim": ('Megrim', cursive),
    "Montserrat": ('Montserrat', sans-serif),
    "Nunito": ('Nunito', sans-serif),
    "Opensans": ('Open Sans', sans-serif),
    "Playfair": ('Playfair Display', serif),
    "Poppins": ('Poppins', sans-serif),
    "Pressstart": ('Press Start 2P', cursive),
    "Raleway": ('Raleway', sans-serif),
    "Roboto": ('Roboto', sans-serif),
    "Sacramento": ('Sacramento', cursive),
    "Sigmar": ('Sigmar One', cursive),
    "Ubuntu": ('Ubuntu', sans-serif),
);

@each $fontname, $font in $fonts {
    .fontPri#{$fontname} {
        font-family: $font;
        h1,h2,h3,h4 {
            font-family: $font;
        }
    }
    .fontSec#{$fontname} {
        p,input {
            font-family: $font;
        }
    }
}