// Container Widths
@include media-breakpoint-only(xl) {
    .container {
        max-width: 1100px;
    }
}
@include media-breakpoint-only(lg){
    .container {
        max-width: 1000px;
    }
}
@include media-breakpoint-only(md) {
    .container {
        max-width: 640px;
    }
}
@include media-breakpoint-only(sm) {
    .container {
        max-width: 550px;
    }
}
.container {
    width: 90%;
}


//Other General Stuff
.row {
    overflow: hidden;
}


//Ant Design

.ant-card-bordered {
    border-radius: 5px;
}
// .ant-card-body {
//     padding: 0!important;
// }
.ant-notification-notice-message {
    font-weight: 500;
}
.anticon {
    vertical-align: 1px!important;
}
.ant-input {
    height: 30px;
}
.ant-card-head-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
}
.ant-btn-primary {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    padding: 10px 0 10px 40px;
    padding-top: 10px;
    color: rgba(21, 21, 21, 0.85);
    line-height: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
html.md-theme-default {
    background-color: #fff!important;
}
.md-steppers.md-vertical .md-stepper-header {
    margin-bottom: 15px!important;
}
.ant-select-selection.ant-select-selection--single {
    height: 40px!important;
}
.ant-select-selection__rendered {
    line-height: 40px!important;
}
.ant-form-explain {
    padding-top: 10px!important;
    width: 250px!important;
}
.ant-layout-sider-trigger {
    background: $primary!important;
}
.md-stepper-description {
    font-size: 14px;
    margin-top: 5px;
}
.md-stepper-label {
    font-size: 16px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}
.md-theme-default :not(input):not(textarea)::selection {
    background-color: #ff525200;
    color: #333;
}
// .md-theme-default a:not(.md-button):hover {
//     color: rgba(68,138,255,0.8);
//     color: var(--md-theme-default-primary-on-background, rgba(68,138,255,0.8));
// }
a:not(.md-button):hover {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}