@import '../../assets/styles/variables.scss';

.home-features {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: $primary-color;
    color: $white;
}

h3 {
    font-weight: 600;
}